//base files

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font-family;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background: $PaleBlue;
    @include set-text-size($body);
    @include flex(column, center, center, 0, 0, 0);
    position: relative;
    z-index: 0;

    &::after {
        content: '';
        position: absolute;
        inset: 0 0 20% 0;
        @include set-mq-bgImage($bg);
        z-index: -1;
    }
}


.container {
    width: 90%;
    max-width: 400px;
    margin-inline: auto;

    @include mq (tablet) {
      max-width: 490px;
    }
 
}

.card {
    @include flex(column, flex-start, center, 0, 0, 0);
    margin-block: $block-padding-sm;
    border-radius: $border-radius-md;
    overflow: hidden;
    background: $White;
    text-align: center;
    box-shadow: $box-shadow-md $PaleBlue;
    z-index: 10;
}
