@mixin set-mq-bgImage($img) {
    background: url(../images/desktop/bg.svg), #E1E9Ff;
    background-repeat: no-repeat, no-repeat;
    background-size: contain;

    @include mq(mobile) {
        background: url(../images/desktop/bg.svg), #E1E9Ff;
        background-repeat: no-repeat, no-repeat;
        background-size: contain;
    }

    @include mq(tablet) {
        background: url(../images/desktop/bg.svg), #E1E9Ff;
        background-repeat: no-repeat, no-repeat;
        background-size: contain;
    }

    @include mq(laptop) {
        background: url(../images/desktop/bg.svg), #E1E9Ff;
        background-repeat: no-repeat, no-repeat;
        background-size: contain;
    }

    @include mq(desktop) {
        background: url(../images/desktop/bg.svg), #E1E9Ff;
        background-repeat: no-repeat, no-repeat;
        background-size: contain;
    }

}